body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  padding: 10px;
  background: #333;
  color: white;
  margin: 0;
}

#map {
  flex: 1;
}